.fz-animate
{
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.fz-animate2
{
	-webkit-transition-property: top left;
	-moz-transition-property: top left;
	-ms-transition-property: top left;
	-o-transition-property: top left;
	transition-property: top left;
}


.fz-marker
{
	cursor:pointer;
	width:32px;
	height:32px;
	position:absolute;
	background-repeat:no-repeat;
	background-image:url(marker.png);
}

.fz-toolbar
{
	display:none;
 	background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 5px 5px;
    position: absolute;
	z-index:10000;
}

.fz-zoomin
{
	cursor:pointer;
	width:50px;
	height:50px;
	float:left;
	background-repeat:no-repeat;
	background-image:url(zoomin.png);
}
.fz-zoomin:hover
{
	background-image:url(zoomin_hover.png);
}
.fz-zoomout
{
	cursor:pointer;
	width:50px;
	height:50px;
	float:left;
	background-repeat:no-repeat;
	background-image:url(zoomout.png);
}
.fz-zoomout:hover
{
	background-image:url(zoomout_hover.png);
}
.fz-reset
{
	cursor:pointer;
	width:50px;
	height:50px;
	float:left;
	background-repeat:no-repeat;
	color: #fff;
	background-image:url(reset.png);
}
.fz-reset:hover
{
	background-image:url(reset_hover.png);
}


.fz-loader
{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-image:url(loader.gif);
	background-position:center; 
	background-repeat:no-repeat;
	background-color:white;
	z-index:100001;
	overflow:hidden;
}